.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-color: cadetblue; */
}
.logo{
    width: 100%;
    height: 100%;
}
#ua{
    padding-top: 160px;
}
@media (min-width: 768px){
    .logo{
        width: 100%;
        height: 100%;
    }
    #ua{
        margin-top: 50px;
    }
    .align-slide{
        width: 80%;
        height: 100%;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: -20px;
    }
    #adidas{
    }
}
@media (min-width: 1024px){
    .align-slide{
        width: 65%;
    }
    #ua{
        margin-top: 70px;
    }
}
@media (min-width: 1280px){
    .align-slide{
        width: 45%;
    }   
}