.brand-display{
    box-sizing: border-box;
    width: 100vw;
    height: 93vh;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 100px;
}

.product{
    box-sizing: border-box;
    width: 500px;
    height: 460px;
    background-color: rgb(245, 245, 245);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.pro-img{
    width: 350px;
    height: 300px;
    border-radius: 10px;
    margin: 5px;
}

.pro-title{
    font-size: 25px;
}

.cart-button{
    padding: 10px;
}