.add-product{
    box-sizing: border-box;
    width: 100vw;
    height: 92.7vh;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    position: relative;
}
.add-form{
    box-sizing: border-box;
    border-radius: 5px;
    width: 83%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    box-shadow: 0px 0px 5px 2px #5098db;
}
.add-form input{
    width: 90%;
    height: 25px;
    padding: 5px;
    margin-bottom: 10px;
    border-color: #5098db;
    border: 1px solid #5098db;
}
#de-input{
    vertical-align: text-top;
    height: 150px;
    width: 90%;
    padding: 5px;
    resize: none;
    border-color: #5098db;
    margin-bottom: 10px;
}
.forms-group{
    display: flex;
    margin-top: 10px;
}
.forms-group select{
    margin-bottom: 40px;
    border-color: #5098db;
}
.add-form button{
    padding: 15px;
    background-color: white;
    color: #5098db;
    font-weight: bolder;
    border: 2px solid #5098db;
}
.add-form button:hover{
    background-color: black;
    color: white;
    border: 2px solid rgb(185, 185, 185);
}
.brand-select{
    margin-right: 7px;
}
.back-arrow-add{
    font-size: 30px;
    position: absolute;
    left: 40px;
    top: 30px;
    color:#5098db;
}